body {
    display: flex;
background: #DB605E;
padding: 18px;
grid-template-columns: auto;
background-size: cover;
margin: 0 10px ;
font-size: 20px;
}

button {
    border-radius: 10px;
}
button:hover {
    background: #FFB5A6;
    cursor: pointer;

}
input {
    border-radius: 15px;
     width: 150px;
    height: 17px; 
   
}
ul{
    font-size: 28px;
    padding:0  60px;
}
.edit{
    width: 28px;
    height: 25px;
    cursor: pointer;
}
.delete {
    width: 28px;
    height: 25px;
    cursor: pointer;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}