body {
    background: #DB605E;
    /* background: #3C29FF; */
    /* background-image: url(https://images4.alphacoders.com/912/thumbbig-91296.jpg); */
padding: 18px;
grid-template-columns: auto;
background-size: cover;
margin: 0 10px ;
font-size: 20px;
}

button {
    border-radius: 10px;
    /* background: #FFB5A6; */
    
}
button:hover {
    background: #F0988D;
    cursor: pointer;
}
input {
    border-radius: 15px;
     width: 150px;
    height: 17px; 
}
ul{
    font-size: 30px;
}
.edit{
    width: 28px;
    height: 25px;
}
.delete {
    width: 28px;
    height: 25px;
}
